* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo {
    display: flex;
    width: 100%;
    margin-left: 5px;
    height: 50px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;  
}

.sidebar .logo p {
    margin-top: 8px;
}

.sidebar.active .logo {
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease-in;
}

ion-icon {
    font-size: 1.5rem;
    margin-top: 10px;
    pointer-events: none;
}

.hamburger {
    position: absolute;
    left: 50%;
    top: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active .hamburger {
   left: 90%; 
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: white;
    color: green;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    left: 60px;
    opacity: 1;
}

.sidebar.active ul li:hover .tooltip {
    opacity: 0;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: rgb(24, 24, 24);
    padding-left: 50px;
    font-size: 18px;
    color: white;
}

.sidebar ul li:hover input {
    background: white;
    color: black;
}

.sidebar ul li:hover .searchIcon ion-icon {
    color: black;
}

.sidebar ul li .searchIcon {
    position: absolute;
    z-index: 99;
    color: white;
    font-size: 22px;
    margin-left: 15px;
}

.sidebar ul {
    margin: 0;
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    /* margin: 0 5px; */
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .NavLink  {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li .NavLink:hover {
    background: white;
}

.sidebar ul li .NavLink div {
    opacity: 0;
}

.sidebar ul li .NavLink:hover div {
    color: green;
}


.sidebar.active ul li .NavLink div {
    opacity: 1;
}

.sidebar ul li .NavLink:hover ion-icon {
    color: green;
}

.sidebar ul li .NavLink span {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}






